.headerspost {
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
}
.ava {
    margin-left:10px;
}
.rambo {
    width: 100%;
    object-fit: contain;
    outline: none;
    overflow: hidden;
}

.iconspost {
    display:flex;
    align-items: center;
    height: 30px;
    margin: 10px 5px;
    justify-content: space-between;
}
.imgs {
    width: 20px;
    object-fit: contain;
    margin: 10px 10px;
    cursor: pointer;
}
.like{
    margin: 0 15px ;
}
.caption  {
    max-width: 100px;
    overflow-wrap: break-word;
    /* inline-size: 100px; */
    width: 90%;
}
.commentstopost{
    background-color: white;
    position: relative;
}
.comment {
    width: 90%;
    padding: 10px 5px;
    outline: none;
    border: none;
    border-top: 1px solid rgb(206, 199, 199);
}
.commentpost {
    position: absolute;
    right: 0px; 
    width: 50px;
    padding: 10px 5px;
    outline: none;
    border: none;
    border-top: 1px solid rgb(206, 199, 199);
    cursor: pointer;
    background-color: white;
    color: 1px solid rgb(206, 199, 199);
    
}

.comments {
    margin: 0 0 20px 15px; 
}